[2015-11-17 10:54] eerohele opened #1 "Support multiple transtypes"
The plugin should accept a list of transtypes as an argument so that it's easy to publish the same document into multiple output formats in one go.

For example:

[code]

[2015-11-17 10:57] eerohele opened #2 "Document alternative way of using the plugin"
In addition to a `dita` block, you can also define tasks like this:

[code]

It's a regular Gradle feature, but since many DITA-OT users probably don't know that, it might be good to add an example into the documentation and in the `examples` directory.

[2016-02-22 16:06] stefan-jung opened #3 "DITA_HOME is not used"
The [build file of the examples/simple](https://github.com/eerohele/dita-ot-gradle/blob/develop/examples/simple/build.gradle#L14) says:

But if it is missing, the following message appears:

Could you please remove the comment or use to the environment variable?

[2016-02-22 16:52] eerohele commented on #3
Thanks for reporting the issue!

Yeah, an early iteration of the plugin used `DITA_HOME`, but I removed that functionality. IIRC, DITA-OT uses `DITA_HOME` for some things and having it set can cause weird issues that are difficult to debug, so I wanted to avoid that. Might've been other reasons, too — don't remember off the top of my head.

[2016-02-22 16:52] #3 closed, assigned to nobody

[2016-02-22 18:18] stefan-jung commented on #3
Thank you for coding this plugin. ;)

[2016-02-22 18:35] stefan-jung commented on #3
If you plan to implement this again one time, you might want to check out the following thread to set the variable, if it is not defined: [Define a variable and set it to a default value if something goes wrong during definition](http://stackoverflow.com/questions/21104401/define-a-variable-and-set-it-to-a-default-value-if-something-goes-wrong-during-d)

[2016-02-24 21:55] eerohele opened #4 "Gradle throws java.lang.IllegalAccessError sporadically when daemon is enabled"
[A full example stack trace](https://gist.github.com/eerohele/fa0082184a9f242e6803).

This happens probably because Gradle uses commons-io 1.4 and the DITA-OT Gradle Plugin uses a newer version, the classloader randomly picks which version is used, and throws the IllegalAccessError because the `FilenameUtils.isSystemWindows` is private in 1.4.

[2016-03-11 19:23] #1 closed, assigned to eerohele

[2016-03-11 19:24] eerohele commented on #4
Hopefully fixed via 4660334a7b1bcf2c5355b5d7acd7d867c656f997.

[2016-03-11 19:24] #4 closed, assigned to eerohele

[2016-03-12 09:57] #2 closed, assigned to eerohele

[2016-04-29 12:54] DavidPickles opened #5 "Build fails with gradle 2.13"
Using the simple build.gradle example file on http://eerohele.github.io/dita-ot-gradle/build/ produces an exception  with  Gradle 2.13. Downgrading to Gradle 2.8 fixes the problem.

The rest of the configuration is the same:

[code]

Here's the error with 2.13:

[code]

[2016-04-29 14:47] eerohele commented on #5
Thanks for the report!

The downsides of having to rely on Gradle's internal classes...

0.3.1 should fix the issue. Could you try it out and report back whether it works for you?

[2016-04-29 15:06] DavidPickles commented on #5
Yup that fixes it.

Thank you!

[2016-04-29 15:06] #5 closed, assigned to nobody

[2016-05-05 16:59] DavidPickles opened #6 "Using the dita-ot-gradle plugin as the basis for a web service"
I have a question about the use of your plugin.

I am looking at ways to expose DITA-OT through a web-service. (Every request will be for the same transtype, but the input ditamap and topic files will be different.) In the short term load will be quite light, but we need to have a roadmap for providing scalability as the load increases.

Our as-is solution works by starting a JVM and kicking-off A

[2016-05-06 07:28] eerohele commented on #6
Interesting idea!

First off, I would recommend perusing [the documentation for Gradle Daemon](https://docs.gradle.org/2.5/userguide/gradle_daemon.html). Every caveat that applies to the Gradle Daemon naturally applies here, too.

There are some issues related to DITA-OT that you are probably already aware of that come to mind (no thread-safety, high memory consumption with large documents, etc.),

[2016-05-09 08:49] DavidPickles commented on #6
Thank you very much for you response - a lot of food for thought.

As I understand it, the basic issue is that DITA-OT is written using a technology - Ant - that, although a great tool, is not designed to support long lasting, multi-threaded, performance optimised, server processes. The issue is compounded by the use of static variables in some of the key DITA-OT classes, meaning that they are not

[2016-05-09 09:40] eerohele commented on #6
That's a good and fair summary. I know @jelovirt has been working on [a DITA-OT server component](http://www.elovirta.com/2015/06/18/projec-that-needs-doing.html) that would probably be just the thing you're looking for, but I don't know what its status is. You could get in touch with him if you're interested.

On the topic of parallelism, @jelovirt has also written [a brief article on it](http://

[2016-06-13 23:33] sanderson-sfdc opened #7 "input path doesn't work with "special" characters in it"
The dita ot developer archive uses a path like this:  dita-ot-2.3+45e1331

That works fine for the ditaOt.dir property, but not in the input param.

I'm on a Mac running El Capitan, with bash as my shell.

Test case:
1. In ~/dita unzip the latest dita-ot developer archive.  Notice it creates a directory like dita-ot-2.3+45e1331
2. In ~/dita, create a new directory "gradle-test"
3. Copy the attache

[2016-06-14 04:57] #6 closed, assigned to eerohele

[2016-06-14 06:34] eerohele commented on #7
Thanks for the report!

This seems to be a bug in DITA-OT itself rather than this plugin. I created https://github.com/dita-ot/dita-ot/issues/2414 — you can follow the progress there.

[2016-06-14 06:34] #7 closed, assigned to nobody

[2016-07-04 12:27] lionelmoi opened #8 "run plugin installation from gradle"
Hi !

I would like to run the -install command from gradle, so far I have doen through the exec method, which is fine, but I wonder if you implemented the method in your plugin.

Thanks again for all your work !

[2016-07-04 15:25] eerohele commented on #8
So you mean something like this?

[code]

And then when you run the `install` task, it would install the plugins into the DITA-OT installation you define via `ditaOt.dir`? If so, that shouldn't be too difficult.

I was wondering, though, would it be useful for you to also be able to do something like this?

[code]

The plugin would then download DITA-OT 2.3.1 from GitHub, install it into `ditaOt.d

[2016-07-04 20:44] eerohele commented on #8
Well, I ended up with this syntax:

[code]

I also deployed version 0.4.0 of the plugin with support for installing plugins. You can install multiple plugins by doing something like:

[code]

@lionelmoi: Can you please give it a go and let me know whether it works for you?

Regarding installing DITA-OT itself automatically, I came to the conclusion that it's not really viable to install DITA-OT an

[2016-07-05 08:07] lionelmoi commented on #8
Hi !

You work fast :)

I tried it and it does not seem to install any plugins in my dita-ot/plugins folder.

I put ditaOt task in another task as such :

[code]

and ran it prior to my main dita task. I get not error message either.

I liked the idea of a separate **install{}** task, this way it would be easier to differentiate between transformation and installation which are two separate steps.

[2016-07-05 20:51] eerohele commented on #8
That won't work — `ditaOt` is already a task.

Try this instead:

[code]

[2016-07-11 09:54] lionelmoi commented on #8
Hi,

It works !
Only caveat is I cannot uninstall plugins. Which can be fine as long as I re-install the toolikt every time.

One other thing. Can I create a task that has another name? Using a syntax like :

Cheers.

[2016-07-12 20:27] eerohele commented on #8
Hmm… I'll need to think about that a bit.

Yes, see "Versatile publishing" at https://eerohele.github.io/dita-ot-gradle.

[2016-11-25 09:09] lionelmoi opened #9 "Get ditamap and referenced resources"
Hi Eero!

My understanding is that, since gradle can detect changes in a ditamap or its resources, the path to these objects must be stored somewhere.

I would like to be able to get the path of the ditamap and all its referenced resources (topic, images, etc.) in order to copy and zip them for archival. The same way I am able to get the path of a result zip of a Zip task with the  _archivePath_ p

[2016-11-25 12:04] eerohele commented on #9
Probably not *quite* the way you'd like. The plugin actually doesn't parse any DITA files because that might make the plugin too slow and prone to memory leaks, particularly for large documents.

The plugin includes every file in the directory where your root DITA map file is in in the up-to-date check. So, for instance, if your root DITA map is in `/srv/dita/root.ditamap`, the plugin will watch f

[2017-01-09 12:37] lionelmoi commented on #9
The oxygenXML team has a nice plugin for it : https://github.com/oxygenxml/dita-export-map

[2017-01-10 16:54] lionelmoi commented on #8
I'm trying to feed a list to the plugin parameter:

[code]

and I'm getting the following message

[code]

It seems the DitaOtSetuptask is not iterating on the content of the `plugins` parameter as it should :

[DitaOtSetupTask.groovy : line 27](https://github.com/eerohele/dita-ot-gradle/blob/1560f31d7be1d45eb623a0e5e1e2411f5dbf9b61/src/main/groovy/com/github/eerohele/DitaOtSetupTask.groovy)

[cod

[2017-01-12 13:14] lionelmoi opened #10 "dita-ot-gradle does not use custom saxon jar"
In order to use Xpath math functions (https://www.w3.org/2005/xpath-functions/math/) I added Saxon 9.6 PE to the OT through the ... extension point.

It works when I launch a transformation through the dita command but it throws an exception with dita-ot-gradle :

Which means it's using the Saxon 9.1 bundled in the OT.

Do you have an idea?

[2017-01-22 06:08] eerohele commented on #10
The first thing I would probably advise you to try is to add Saxon-PE into the Gradle classpath as well (in the buildscript block, see https://github.com/eerohele/saxon-gradle/issues/3).

However, you'll probably encounter the same issue with the Saxon license as you did with the saxon-gradle plugin. I'll try to look into that.

[2017-04-21 12:37] aidanreilly opened #11 "using org.dita-community.qa plugin with the dita-ot-gradle"
I'm trying to use  org.dita-community.qa plugin in a gradle build system. my build.gradle file looks like this:
[code]

I'm unclear how to integrate the plugin properly as part of the gradle build. Is there a gradle command I'm missing in the build file to integrate the plugin?

Thanks.

[2017-04-21 12:40] aidanreilly commented on #11
Oops. This works, I was just being silly :)

[2017-04-21 12:40] #11 closed, assigned to nobody

[2017-05-29 10:21] eerohele commented on #9
That plugin does indeed seem to do the trick. I'll close this one.

[2017-05-29 10:21] #9 closed, assigned to eerohele

[2017-05-29 10:23] eerohele commented on #8
Sorry for not getting back to you sooner -- I had completely missed your latest comment.

I haven't tried, but I think `plugins *pluginList` (aka the Groovy splat operator) should work. Can you give that a try?

[2017-05-29 12:36] lionelmoi commented on #8
It does not throw an error any more but no plugin in copied into the dita-ot `plugins` directory...

[2017-05-30 09:57] eerohele commented on #8
Weird. `plugins(*myPlugins)` seems to work OK for me. (The parentheses turned out to be necessary, which you probably already noticed.)

What command(s) are you using to invoke Gradle?

[2017-05-30 10:15] lionelmoi commented on #8
It works !

I was using `plugins *.pluginList` but with `plugins(*pluginList)` it works like a charm.

[2017-05-30 10:17] eerohele commented on #8
Good to hear. Sorry about the inaccurate advice -- haven't done Groovy in a while and the syntax is a bit funky...

[2017-05-30 10:18] lionelmoi commented on #8
I'd even go as far as saying it is a total mess :)

[2017-10-15 09:05] jelovirt opened #12 "Add DITA-OT plugin JAR files to classpath"
Currently [`AntBuilderAssistant`](https://github.com/eerohele/dita-ot-gradle/blob/1560f31d7be1d45eb623a0e5e1e2411f5dbf9b61/src/main/groovy/com/github/eerohele/AntBuilderAssistant.groovy#L23) only adds PDF2 JARs to classpath:

[code]

Also, in DITA-OT 3.0 the configuration files have been moved from `resources` to `config` directory.

The `getClasspath` should be modified to:

1. add `config` for D

[2017-10-16 19:11] eerohele commented on #12
cc62d62e83f856543aea88c5ceae84ed841d4467 should fix the issue. I'll take a look at it with fresh eyes tomorrow and deploy a new version if it looks OK.

@jelovirt: If you have the time, could you give
https://github.com/eerohele/dita-ot-gradle/commit/cc62d62e83f856543aea88c5ceae84ed841d4467#diff-61637f024646c6410b55b1867e6a2b50R22 a quick once-over and see whether the logic looks OK to you?

[2017-10-18 15:49] infotexture commented on #12
👍 Tested 0.4.2 on dita-ot/docs@6c3e7fca with Gradle 3.5 and 4.2.1, seems to work fine.

Markdown topics are now treated as DITA, and built to HTML as expected, so the changes in cc62d62 are effective, and the new libraries from the external plug-ins are used.

[2017-10-18 16:33] infotexture commented on #12
Discovered a side-effect of the changes in cc62d62:

After updating the plug-in version in dita-ot/docs@6c3e7fca, when I ran `gradle wrapper` to upgrade to the latest Gradle version,

    FAILURE: Build failed with an exception.

  Are you sure you're using a valid DITA-OT directory?

Not a show-stopper, as I can still upgrade the wrapper from a prior commit before the new plug-in version landed,

[2017-10-18 17:14] eerohele commented on #12
Agh. Thanks for reporting the issue — I'll look into it.

[2017-10-18 17:17] eerohele commented on #12
I can't seem to reproduce the issue.

Which Gradle version do you have installed? As in, if you do `gradle --version`, what does it return?

Also, are you running `gradle wrapper` in the root directory of the DITA-OT docs repo?

[2017-10-19 09:16] infotexture commented on #12
[code]

[2017-10-19 09:19] infotexture commented on #12
Yes, however, my `docs` clone is alongside the `dita-ot` directory:

[code]

[2017-10-19 09:20] infotexture commented on #12
If I explicitly pass gradle the `dita.home` location, it works:

    gradle wrapper -Ddita.home=../dita-ot/src/main

[2017-10-28 15:59] eerohele commented on #12
All right, so that exception was caused by a peculiarity in the previous version of the DITA-OT docs `build.gradle` file.

I think this issue is resolved. The remaining issue (that I know of) is that the plugin doesn't always include the `.gradle` directory in the up-to-date check even though it should. I'll create a new issue for that one.

[2017-10-28 15:59] #12 closed, assigned to eerohele

[2017-10-29 04:25] eerohele opened #13 "Plugin doesn't always ignore .gradle directory in up-to-date check"

[2017-10-29 05:24] eerohele commented on #13
I have a fix for this issue, but I need to come up with a unit test that correctly tests it.

[2017-10-29 06:10] eerohele commented on #13
I can't for the life of me come up with a unit test that works. The fix is so simple, though that it shouldn't be a huge problem. I hope so, at least.

[2017-10-29 06:36] #13 closed, assigned to eerohele

[2017-11-06 07:54] eerohele commented on #10
One option might be to add a property that defines path(s) to add into the DITA-OT classpath before the default paths.

Something like:

[code]

[2017-11-06 21:35] eerohele commented on #10
https://github.com/eerohele/dita-ot-gradle/commit/96c86f4eddc7767792cd6f7c2be7ebff1605a841 has an initial implementation.

I'll take another look tomorrow with fresh eyes and if everything looks OK, I'll deploy a new version.

Sorry it took so long. Hope you still have use for the feature. :)

[2017-11-07 21:06] eerohele commented on #10
Cut 0.5.0, which introduces the `classpath` option on the `ditaOt` task that lets you override or augment the DITA-OT classpath.

In your case, this should do the trick:

[code]

I'm going to close this issue, but if you experience any problems with it, please feel free to comment here or open a new issue.

[2017-11-07 21:06] #10 closed, assigned to eerohele

[2017-11-28 19:25] sanderson-sfdc opened #14 "Use dita-ot-minimal gradle package instead of requiring an installed version"
I'd love to be able to do something like this:

`repositories {
    mavenCentral()
}

plugins {
    id 'com.github.eerohele.dita-ot-gradle' version '0.5.0'
}

dependencies {
    compile 'com.github.dita-ot:dita-ot-minimal:1.8.2'
}`

rather than have to do a prior install.  This works well with the other enhancement about running an install task.  For an automated continuous integration system I co

[2017-11-28 20:59] eerohele commented on #14
That *would* be nice. To be honest, I hadn't realized that was an option.

Although I suppose it'd be better to use `org.dita-ot:dost:3.0` instead, since it seems like the artifact at `com.github.dita-ot` hasn't been updated in quite a while.

I'll have to look into whether I can make that work. I'm not sure how you'd call DITA-OT in this scenario.

[2017-11-28 21:23] sanderson-sfdc commented on #14
Here's a quickie I created to extract the dita-ot

    plugins {
        id 'com.github.eerohele.dita-ot-gradle' version '0.5.0'
    }

    apply plugin: 'groovy'
    apply plugin: 'java'

    sourceCompatibility = 1.8

    repositories {
        mavenCentral()
    }

    configurations {
        api
    }

    dependencies {
        api group: 'com.github.dita-ot', name: 'dita-ot-minimal', versio

[2017-11-28 21:34] sanderson-sfdc commented on #14
I'm pretty sure dost is just the jar, not the entire OT package.  If we can get this working, I'm sure we can get some more recent OT packages made available.

[2017-11-29 15:25] eerohele commented on #14
It's looking for either `config/plugins.xml` or `resources/plugins.xml` in the DITA-OT directory. I might be wrong, but I think that file didn't yet exist in DITA-OT 1.8.

It might also be that that approach doesn't work because the DITA-OT Gradle Plugin is looking for the file before the `extractOt` task is executed. I'll need to investigate to be sure.

An alternative solution to defining a Mave

[2017-11-30 08:06] lionelmoi opened #15 "FATAL error with 0.5.0"
Following issue https://github.com/eerohele/dita-ot-gradle/issues/10 I used the `0.5.0` version and got an error during the copy-phase.

`[ant:branch-filter] Failed to parse file:/C:/temp/dita-transform/build/tmp/L2_help_whats_new_publi.ditamap`

It seems all ditamaps are renamed with a generated suffix : `L2_help_illus.ditamap.tmp1512028981408`

I attached the source map, the tmp dir and the stac

[2017-11-30 08:54] lionelmoi commented on #15
It seems it is linked to the saxon version I'm using...

[2017-11-30 09:28] eerohele commented on #15
I'll look into it when I get the chance, but are you able to test whether this problem occurs if you run DITA-OT directly (as in, without this plugin) with that particular Saxon version?

IIRC, a quick-and-dirty way to check would be to move the Saxon JAR that comes bundled with DITA-OT out of the `lib` directory temporarily and drop `saxon9ee.jar` and the license file in there.

[2017-12-05 10:29] lionelmoi commented on #15
Yep that was related to the Saxon-EE version. I removed the dependency and it works now.

[2017-12-05 11:13] eerohele commented on #15
Which dependency did you remove?

What do you mean by "it works now"? Do you mean that you're able to use Saxon-PE/EE with the DITA-OT Gradle Plugin?

[2017-12-05 11:30] lionelmoi commented on #15
I removed the Saxon-EE dependency from my plugin. I use a solution provided by the `org.dita-community.i18n` plugin.

To sum up my findings more clearly:

- dita-ot-gradle 0.5.0 imports the saxonee.jar in the classpath
- saxonEE 7.2 breaks the build (I have to buy new licenses to test with saxonEE 8.x)

[2017-12-13 09:32] lionelmoi commented on #15
I tried it again with saxonHE 9.7 (I don't need EE to use the math extension) and it works like a charm.

[2018-02-27 16:41] lionelmoi opened #16 "error XPST0017: cannot find function with DITA-OT 3.0"
When building with DITA-OT 3.+ HTML5 based transformations crash with this type or error

[code]

This does not happen when I launch the tranformation from the command-line.

Samples attached.
[XPST0017-error.zip](https://github.com/eerohele/dita-ot-gradle/files/1763814/XPST0017-error.zip)

Stacktrace:
[code]

[2018-02-28 09:17] lionelmoi commented on #16
Could it be related to what this PR https://github.com/dita-ot/dita-ot/pull/2880 fixes? I see a lot of `net.sf.saxon.s9api.SaxonApiException:` reported in the stacktrace.

If it's any help I'm on a Windows machine.

[2018-02-28 09:30] eerohele commented on #16
That's weird. I haven't looked into this yet, but can you try running `gradle --stop` then try rebuilding your DITA docs?

[2018-02-28 10:02] lionelmoi commented on #16
I get the same kind of errors using the  project from the dita-ot/docs repositories with an untouched DITA-OT instance.

[code]

[2018-02-28 10:05] lionelmoi commented on #16
Note that I do not get these errors with DITA-OT 2.5.4 which includes saxon 9.1.0.8 but I do get these errors with my pdf plugin that import saxon 9.8 in the classpath. So it really looks like it's linked to the Saxon version.

[2018-02-28 10:38] eerohele commented on #16
That it does. I'll look into this when I get the chance.

[2018-03-06 12:12] eerohele commented on #16
I can't reproduce this issue.

Can you check whether your `dita-ot/lib` directory contains multiple different Saxon JARs? As in, does it contain both the JAR for Saxon 9.1.0.8 and Saxon-HE?

[2018-03-06 13:14] lionelmoi commented on #16
Here is the content of dita-ot/lib in a completely untouched instance of DITA-OT 3.0.2 downloaded from http://www.dita-ot.org/download

[code]
I'm attempting to remove all gradle cache from my machine in case it has an influence.

[2018-03-06 15:02] lionelmoi commented on #16
Changing `<xsl:include href="functions.xsl"/>` into `<xsl:include href="plugin:org.dita.html5:xsl/functions.xsl"/>` in `.../plugins/org.dita.html5/xsl/topic.xsl` fixes the issue.

[2018-03-15 17:55] eerohele commented on #8
I think we can close this one.

[2018-03-15 17:55] #8 closed, assigned to eerohele

[2018-03-15 17:56] eerohele commented on #15
I'll close this one, too. Feel free to open a new issue if necessary.

[2018-03-15 17:56] #15 closed, assigned to nobody

[2018-03-15 17:57] eerohele commented on #16
The root cause is https://github.com/dita-ot/dita-ot/pull/2892, so we can close this issue.

[2018-03-15 17:57] #16 closed, assigned to nobody

[2018-04-12 20:40] fviolette commented on #14
I favor the second approach mentioned too: for one particular project, authors always build locally first . It's extremely helpful to rely on DITA-OT Gradle with the Wrapper and couple of other helper plugins – like grgit, gradle-download-task and saxon-gradle :+1:

Defining `ditaOt.dir` with a closure within the `dita` task does the job:

[code]

[2018-05-23 17:10] sanderson-sfdc commented on #14
Great solution @fviolette.  You mention you'd prefer this way than the dependency, because it would allow people to build locally.

I think the way to resolve that would be to have two Maven/gradle packages; one that's a "full" DITA-OT install, with all the scripts you mention, and another, a "core" DITA-OT that is aimed at gradle-only usage.

[2018-05-24 11:14] eerohele commented on #14
Sorry about the delayed response.

@fviolette: Using `doFirst` inside `dita` is a nice trick! That hadn't occurred to me.

It might actually be better if the plugin didn't require DITA-OT to be present in the Gradle configuration phase at all so that you would't need to use `doFirst`, but I'm not sure I can make that change in a backwards-compatible way.

[2018-05-24 11:57] fviolette commented on #14
@eerohele @lionelmoi Would `plugins` fit in this closure? Last time I checked it didn't work but I don't recall to be honest.

Generally speaking, fully support the last remark :+1:

[2018-05-24 12:58] lionelmoi commented on #14
I actually don't use the 'plugin' mechanism... I use I use an 'exec' task to call the 'dita --install' command after copying my plugins in the 'plugins' folder.

@eerohele
"It might actually be better if the plugin didn't require DITA-OT to be present in the Gradle configuration phase"

That would be great indeed!

[2018-05-25 11:53] eerohele commented on #14
This doesn't seem too difficult. I modified the plugin so that this works:

[code]

I'll just need to clean up the code and write some tests before I can release a new version of the plugin.

Then again, it might be convenient if you could just define something like `ditaOtVersion`. The plugin would then download that DITA-OT version from GitHub, install any plugins you've specified in `plugins`,

[2018-05-25 11:56] lionelmoi commented on #14
You rock!

[2018-05-29 22:33] sanderson-sfdc opened #17 "Specify contributor requirements"
Are you open to pull requests?  If so, if I submit a pull request, do you require a contributor license agreement, a developer certificate of origin (like the DITA-OT), or something else?

[2018-05-30 05:49] eerohele commented on #17
Certainly! PRs are very welcome.

I don't require anything like that. Honestly, I haven't given that much thought.

I'll look into adding a `CONTRIBUTING.md` file. In the meantime, all PRs are very welcome.

[2018-05-30 05:56] eerohele commented on #14
I looked into modifying the plugin so that you'd just have to specify a DITA-OT version, and the plugin would then download and install it so that you could just start publishing.

The downloading bit isn't too difficult, but I haven't yet found a way to specify the DITA-OT version so that it works.

Also, adding support for installing plugins isn't very easy, because there's no super-straightforw

[2018-05-30 16:08] sanderson-sfdc commented on #17
Thanks; it would be helpful, I think, to match up with what the DITA-OT requires, just so that if, in the future, you want to merge your work with theirs, it's easy to do.

[2018-05-31 07:31] eerohele commented on #17
That's very unlikely.

I believe the "official" solution for the kind of problem this plugin tries to solve is [Kuhnuri](https://github.com/kuhnuri).

It doesn't offer a direct Gradle integration, but it should be possible to build a Gradle layer on top if Kuhnuri if necessary. From what I understand, Kuhnuri aims to provide a much more complete (open source) DITA publishing solution.

[2018-05-31 17:03] sanderson-sfdc commented on #17
Fair enough.  It just seems like a natural thing to have similar checkin requirements to make it easy for people working in related areas.

[2018-06-06 14:24] lionelmoi commented on #14
Could you do an official 0.6.0? It would simplify my build process greatly.

[2018-06-07 08:39] eerohele commented on #14
I'm quite swamped at the moment, but I'll try to do it as soon as I can.

[2018-06-07 16:06] eerohele opened #19 "Allow setting DITA-OT location in execution phase"
- [x] Add `ditaOt` property to `dita` task
- [x] Add support for custom classpath definitions
- [x] Add unit tests
- [x] Add support for automatic plugin installation in execution phase
- [x] Write documentation
- [x] Add examples
- [x] Investigate automatic DITA-OT download either via GitHub releases or by cloning a Git tag

[2018-06-07 16:23] eerohele commented on #14
@lionelmoi I released 0.6.0-beta1, which lets you define `ditaOt` inside `dita` (and hence in the execution phase).

The feature is incomplete (you can follow the progress over at #19), but beta1 lets you get started, at least.

[2018-06-07 17:09] eerohele commented on #14
Note, though, that the API is subject to change at this point.

[2018-06-07 18:24] eerohele commented on #19
I have an initial cut of code that lets you do this:

[code]

The plugins listed under `plugins` are installed in the execution phase. The `plugins` property takes a map of DITA-OT plugin ID to plugin installation file system path or URL.

The plugin ID (the map key) is cross-referenced against `$DITA_HOME/config/plugins.xml` to check whether the plugin is already installed. If there's a plugin wi

[2018-06-13 10:32] fviolette commented on #14
Initial tests work OK on my end (no plugins).

[2018-06-13 10:34] lionelmoi commented on #14
Defining the ditaOt.dir during execution phase seems to work for me too.

I can't make plugins work yet but I may not be using it right.

[2018-06-13 12:30] lionelmoi commented on #19
I'm having trouble with the classpath definition (following the solution introduced in https://github.com/eerohele/dita-ot-gradle/issues/10).

Could I define the ditaOt classpath in the dita task?

In my context I'm creating several tasks with `type: DitaOtTask` each whith its own ditaOt.dir.

[2018-06-13 12:31] eerohele commented on #14
Plugins aren't supported yet. It's a bit complicated. See #19.

Let's continue the discussion there.

[2018-06-13 12:32] eerohele commented on #19
I haven't yet thought about how custom classpath definitions relate to this change. I'll need to look into it.

[2018-07-30 16:25] fviolette opened #20 "dita task "properties" are relative to the build script called (Multi-Project builds)"
Base structure will be the [multi build example](https://github.com/eerohele/dita-ot-gradle/tree/master/examples/multi).

If I place `docs.min.css` under `one/css`, and add the following `one.properties` file under the `one` directory next to `one.ditamap`:

[code]

... building the root project with `gradle` or using `gradle :one:dita` is not going to copy the CSS file along with the output.

And

[2018-08-11 13:39] eerohele commented on #19
I've now gotten custom classpath definitions to work in my local version, too. I'll need to clean things up quite a bit before I can cut another beta release, but at least things are slowly progressing.

One concern I have is that I won't be able to retain full backwards compatibility. I really don't like that, but I'm not sure it can be avoided at this point. My initial decision to define the DIT

[2018-08-11 13:41] eerohele commented on #19
I've also decided to move the documentation for this plugin from the DITA files into the README file in this repo.

I realize it's a bit ironic, but honestly, updating the documentation is currently too much of a pain. For documentation this lightweight, I have much better chance of keeping it up to date if I just go with a plain old README file.

[2018-08-11 13:50] fviolette commented on #19
Makes sense... though the output was nice.
To add insult to injury, should the doc/examples develop further, there's always Jekyll or Antora to save the day.

[2018-09-12 10:44] eerohele commented on #19
Regarding plugin management: I just spoke briefly with Jarno about the upcoming DITA-OT plugin registry in DITA-OT v3.2, and it sounds like it's a much better idea to let DITA-OT handle plugin installation rather than teaching this plugin to do it.

It's not yet clear whether there'll be a `package.json` type dependency manifest that specifies which plugins to install, but if so, we could just add

[2018-09-12 10:47] lionelmoi commented on #19
I'm good with that, I handle plugin dependency in my build, I would not want the plugin to do it

:+1: for custom classpath definition

[2018-11-05 06:42] eerohele commented on #19
Sorry this is taking so long — I'm having a bit of trouble finding the time to complete the work in my current life situation. I just wanted to say that I do intend to get this done, hopefully during this year.

[2018-11-13 19:02] fviolette commented on #20
This issue occurred as I set up a multi-project buildin a nested folder and needed to refer to files above. I eventually managed by copying the css via a dedicated task, among other things. A similar pain point was setting args.xsl in a property file, even with ${projectDir} or ${rootDir}.

Could be closed.

[2018-11-14 22:33] infotexture commented on #20
@fviolette This may be related to https://github.com/dita-ot/dita-ot/issues/3016.

[2019-02-25 14:38] eerohele commented on #19
I released 0.6.0-beta2, which adds support for custom classpath definitions.

Here's an example of how you do it:

[code]

@lionelmoi When you have the time, could you give it a try and see if it works for you?

I've tried hard to retain backwards compatibility, so the new version shouldn't break any existing builds. If it does, please let me know and I'll look into it.

[2019-02-26 14:13] lionelmoi commented on #19
Thanks for the update.

When I switch to the beta2 without adding the classpath clause I get this message:
[code]

When I add the classpath clause I get this message:
[code]
So it seems I cannot define the dita-ot dir at execution time anymore. :-/

[2019-02-26 14:42] eerohele commented on #19
Thanks for trying it out. I’ll look into it.

[2019-02-27 06:18] eerohele commented on #19
I can't reproduce that issue (except the first deprecation message, which is expected). To reiterate, your task should look something like this:

[code]

If your task already looks like that, the issue must be related to something else (possibly the loop in your buildfile), in which case I need to take another look.

[2019-03-25 10:51] fviolette commented on #20
Issue solved AFAIC with `args.fo.userconfig = ${projectDir}/<uplevel-to-my-fop-xconf-file>` for instance.

[2019-03-25 10:51] #20 closed, assigned to eerohele

[2019-03-28 10:01] eerohele commented on #19
@lionelmoi Can you confirm whether your task looks something like the one in my previous comment?

If it does and you still get that same error, I'll look into it.

[2019-04-29 19:37] friej1 opened #21 "support open toolkit 3.3 with LightWeightDita"
Do you have any plans to support open toolkit 3.3, and therefore LwDITA?

[2019-04-30 11:03] infotexture commented on #21
What sort of support are you looking for?

We use the DITA-OT Gradle Plugin to publish the documentation for the toolkit itself, and it works fine with DITA-OT 3.3.1 and LwDITA source files.

[2019-04-30 16:52] friej1 commented on #21
We would like to use it for internal docs using MDita. From what you say, that is already possible. I’m new to the DITA world, and it seemed like the plugin used an earlier version of DITA and might not work with LwDita. This is good news.

From: Roger Sheen <notifications@github.com>
Reply-To: eerohele/dita-ot-gradle <reply@reply.github.com>
Date: Tuesday, April 30, 2019 at 12:47 PM
To: eerohele/

[2019-05-02 06:34] eerohele commented on #21
(Sorry for the delay, GitHub email notifications have landed in my spam folder for a while for some reason...)

Yeah, I'm not aware of any issues that would prevent you from using DITA-OT 3.3 & LwDITA. All I can say is give it a go and if you come across any issues, let me know and I'll look into it.

[2019-05-02 21:40] infotexture commented on #21
The DITA-OT Gradle Plugin doesn't bundle the DITA Open Toolkit itself, it just makes it easier to use DITA-OT with Gradle.

You'll need to install DITA-OT separately per https://www.dita-ot.org/dev/topics/installing-client.html and set up a Gradle script per https://eerohele.github.io/dita-ot-gradle/#ariaid-title3, but the latest versions of both should work fine with MDITA content.

[2019-05-03 12:35] friej1 commented on #21
Right. Thanks.

From: Roger Sheen <notifications@github.com>
Reply-To: eerohele/dita-ot-gradle <reply@reply.github.com>
Date: Thursday, May 2, 2019 at 5:40 PM
To: eerohele/dita-ot-gradle <dita-ot-gradle@noreply.github.com>
Cc: "Friedman, Joan" <Joan.Friedman@pega.com>, Author <author@noreply.github.com>
Subject: Re: [eerohele/dita-ot-gradle] support open toolkit 3.3 with LightWeightDita (#21)

The

[2019-05-14 09:30] eerohele commented on #21
I'll close this issue, but if you come across any problems with using this plugin with DITA-OT 3.3+ and LwDITA, please feel free to comment here or open a new issue.

[2019-05-14 09:30] #21 closed, assigned to nobody

[2019-10-15 21:32] infotexture commented on #19
@eerohele Tested latest `0.6.0-beta1` release w/ dita-ot/docs@85dc6ef, builds successfully. ✅

[2019-11-07 22:05] lionelmoi commented on #19
@eerohele a little bit late to the party but I will not be able to test this one. I changed company and I lost access to the environment...

Sorry about that.

[2019-11-08 06:21] eerohele commented on #19
@lionelmoi No worries!

I'll proceed with this change in any case when I get the chance.

I think I'll try rewiring the internals of the plugin to use the [Gradle Worker API](https://guides.gradle.org/using-the-worker-api/) while I'm at it. That way we can remove the dependency to some of Gradle's internal classes I had to use before the Worker API became available.

[2019-11-08 10:10] infotexture commented on #19
👍 Sounds like a good idea if it's not too much extra work.

[2019-11-10 06:58] eerohele commented on #19
This didn't pan out because as far as I can tell, the Worker API is not compatible with the way Gradle executes Ant.

However, I was able to [significantly reduce the amount of code that relies on Gradle internals](https://github.com/eerohele/dita-ot-gradle/commit/10f275da8626dc22b7a1566f239a509d736d7dfa).

I've released **0.6.0-beta5**, which includes these changes. @infotexture: if you have the

[2019-11-10 21:25] eerohele commented on #19
All right, I think I've squashed every CI bug I have the energy to tackle right now, so we're almost go for 0.6.0.

[2019-11-11 00:37] infotexture commented on #19
@eerohele ✅ Docs builds run fine with the new version _(results are identical)_.

Build durations seem reasonable:

- 2m 11s for builds with previous plug-in version 0.5.0
- 3m 1s for first build with 0.6.0-beta5 _(including fetching new plug-in version)_
- 2m 20s for subsequent build with 0.6.0-beta5

[2019-11-11 09:39] eerohele commented on #19
@infotexture: Many thanks for giving it a go!

I'll tie up some loose ends and release 0.6.0 soon.

[2019-11-12 07:01] eerohele commented on #14
0.6.0 is out with support for downloading DITA-OT and installing plugins from the plugin registry prior to publishing things.

See the buildfile [`download`](https://github.com/eerohele/dita-ot-gradle/blob/master/examples/download/build.gradle) example for details.

[2019-11-12 07:01] #14 closed, assigned to eerohele

[2019-11-12 07:02] eerohele commented on #19
0.6.0 released. See the buildfile [`download`](https://github.com/eerohele/dita-ot-gradle/blob/master/examples/download/build.gradle) example for details.

[2019-11-12 07:02] #19 closed, assigned to nobody

[2019-11-12 07:05] eerohele commented on #17
I don't feel that a `CONTRIBUTING.md` file is really necessary for this project at this point. All contributions are most welcome, and if you want to make a pull request, just make it and we'll walk through the process together.

We can revisit this decision later in the exceedingly unlikely event that the number of contributions increases.

[2019-11-12 07:05] #17 closed, assigned to nobody

[2019-11-12 13:12] eerohele opened #23 "Add support for DITA-OT project files"
See https://github.com/dita-ot/dita-ot/pull/3243.

As per @jelovirt's proposal, only support the XML format for now.

[2021-01-07 17:58] eerohele opened #24 "Relative path to output directory does not work"
In `build.gradle`, add `output 'out'`. Output should appear under `out` next to `build.gradle` but doesn't.

[2021-01-07 20:22] #24 closed, assigned to nobody

[2021-01-12 15:04] jdwinfodesign opened #25 "Setting properties in build.gradle not working"
Setting properties does not work as expected. The output css directory is created, but the only CSS files that are placed there are commonltr.css and commonrtl.css. Nor is the link to the user CSS created in the HTML output. The temp dir is not created (or at least not in the intended place. Using this build.gradle.
`
plugins {
    id 'com.github.eerohele.dita-ot-gradle' version '0.7.0'
}

default

[2021-01-12 15:25] infotexture commented on #25
Looks like this isn't the Gradle plug-in's fault, but rather a limitation of the DITA-OT itself, which [requires an absolute path to the CSS root](https://www.dita-ot.org/dev/parameters/parameters-base-html.html#base-html__args.cssroot).

Try something like this to anchor the path to the project directory:

[code]

The missing CSS in output is usually a telltale sign of this error.

[2021-01-12 15:34] eerohele commented on #25
Using absolute paths is certainly a good practice, and probably a serviceable workaround. However, it is possible that this issue has the same root cause as https://github.com/eerohele/dita-ot-gradle/issues/24: on Java 8, Gradle resolves relative paths against the project root directory, while on newer versions, Gradle resolves them against `.gradle/daemon/$VERSION`.

I have no idea why this is, w

[2021-01-12 15:36] eerohele commented on #25
[This](https://github.com/gradle/gradle/issues/15380) sounds like the same issue.

[2021-01-12 15:47] infotexture commented on #25
@eerohele I bet you're right: this does sound like https://github.com/gradle/gradle/issues/15380.

That's certainly consistent with our experience in the [dita-ot/docs](https://github.com/dita-ot/docs) project, where values that worked with Java 8 stopped working with Java 11.

[2021-01-12 17:07] jdwinfodesign commented on #25
Neither of these work.
`property(name: 'args.cssroot', value: 'file:///c://Users/jdwin/Documents/jdwinfodesign/t-bird-demo/css')`
`property(name: 'args.cssroot', value: '${projectDir}/css')`

[2021-01-12 18:08] eerohele commented on #25
Not sure why the first option wouldn't work, but for the second, you need to use double quotes specifically for string interpolation to work.

That is, with `'${projectDir}/css'`, `projectDir` won't get expanded to the project root dir, but with `"${projectDir}/css"`, it will.

[2021-01-12 18:47] eerohele commented on #25
I looked into this a bit and I can't see any way to completely fix this issue in this plugin. I'm not sure Gradle can fix this, either, because as far as I can tell, JDK versions newer than 8 no longer let you override the `user.dir` system property, which is what Gradle did to set the current working directory to the project root directory.

I *can* fix this for `temp` because that's something th

[2021-01-12 19:31] jdwinfodesign commented on #25
The double quotes worked. Thanks!

[2021-01-12 19:50] eerohele commented on #25
With 0.7.1, you should be able to use relative paths with `temp`.

With `property`, though, you'll need to use absolute paths, be it via `${projectDir}` or some other means, unfortunately.

[2021-01-12 19:59] eerohele commented on #25
I added [a section](https://github.com/eerohele/dita-ot-gradle#passing-ant-properties-to-dita-ot) on this topic in the README.

[2021-01-13 06:40] eerohele commented on #25
I'll close this issue. Please feel free to open a new issue if you come across anything else.

[2021-01-13 06:40] #25 closed, assigned to nobody